.md-typeset {
  /* Progress Bars */
}
.md-typeset .progress-label {
  position: absolute;
  width: 100%;
  margin: 0;
  color: --md-text-color;
  font-weight: 700;
  line-height: px2rem(28px);
  white-space: nowrap;
  text-align: center;
  text-shadow: px2em(-1px) px2em(-1px) px2em(6px) --md-default-bg-color--light, px2em(1px) px2em(-1px) px2em(6px) --md-default-bg-color--light, px2em(-1px) px2em(1px) px2em(6px) --md-default-bg-color--light, px2em(1px) px2em(1px) px2em(6px) --md-default-bg-color--light;
}
.md-typeset .progress-bar {
  float: left;
  height: px2rem(24px);
  background-color: #2979FF;
  /* Stripe animation */
}
.md-typeset .candystripe-animate .progress-bar {
  animation: animate-stripes 3s linear infinite;
}
.md-typeset .progress {
  position: relative;
  display: block;
  width: 100%;
  height: px2rem(24px);
  margin: px2rem(10px) 0;
  background-color: --md-default-fg-color--lightest;
}
.md-typeset .progress.thin {
  height: px2rem(8px);
  margin-top: px2rem(18px);
}
.md-typeset .progress.thin .progress-label {
  margin-top: px2rem(-8px);
}
.md-typeset .progress.thin .progress-bar {
  height: px2rem(8px);
}
.md-typeset .progress.candystripe .progress-bar {
  background-image: linear-gradient(135deg, --md-default-bg-color--lightest 27%, transparent 27%, transparent 52%, --md-default-bg-color--lightest) 52%, --md-default-bg-color--lightest 77%, transparent 77%, transparent);
  background-size: px2rem(40px) px2rem(40px);
}
.md-typeset .progress-100plus .progress-bar {
  background-color: #00e676;
}
.md-typeset .progress-80plus .progress-bar {
  background-color: #fbc02d;
}
.md-typeset .progress-60plus .progress-bar {
  background-color: #ff9100;
}
.md-typeset .progress-40plus .progress-bar {
  background-color: #ff5252;
}
.md-typeset .progress-20plus .progress-bar {
  background-color: #ff1744;
}
.md-typeset .progress-0plus .progress-bar {
  background-color: #f50057;
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: px2rem(120px) 0;
  }
}

