
/* ================================ */
/* GITHUB LINKS ICONS (and twitter) */

.magiclink-repository::before, 
.magiclink-compare::before, 
.magiclink-commit::before, 
.magiclink-pull::before, 
.magiclink-issue::before,
a[href^="mailto:"] {
  position: relative;
  width: 1em;
  height: 1em;
  padding-right: 1em;
  background-size: 1em;
  background-color: #1b95f8;
  mask-size: 1em;
  mask-repeat: no-repeat;
  mask-position: 0.2em;
  content: "";
}
a[href^="mailto:"]::before {
  mask-image: url("svg/fontawesome/envelope.svg");
}
.magiclink-commit::before {
  mask-image: url("svg/octicons/git-commit.svg");
}
.magiclink-compare::before {
  mask-image: url("svg/octicons/git-compare.svg");
}
.magiclink-pull::before {
  mask-image: url("svg/octicons/git-pull-request.svg");
}
.magiclink-issue::before {
  mask-image: url("svg/octicons/issue-opened.svg");
}
.magiclink-repository::before {
  mask-image: url("svg/fontawesome/github.svg");
}

/* ================================ */

/* ================================ */
/* PROGRESS BARS */
/* Taken, converted and edited from https://github.com/facelessuser/pymdown-extensions/blob/main/docs/src/scss/extensions/_progressbar.scss */

/* Colors for light and dark themes */
[data-md-color-scheme="default"] {
	--progressbar-stripe: var(--md-default-bg-color--lighter);
	--progressbar-100: #00E676;
	--progressbar-80: #6DF990;
	--progressbar-60: #FBC02D;
	--progressbar-40: #FF9100;
	--progressbar-20: #FF7884;
	--progressbar-0: #FF1744;
}
[data-md-color-scheme="slate"] {
	--progressbar-stripe: var(--md-default-bg-color--lightest);
	--progressbar-100: #52FA7C;
	--progressbar-80: #98FBB1;
	--progressbar-60: #F1FA89;
	--progressbar-40: #FFB86B;
	--progressbar-20: #FF7AC6;
	--progressbar-0: #FF5757;
}

/* Basic progress bar */
.progress-bar {
  float: left;
  height: 1.5rem;
  background-color: #2979FF;
}
.progress {
  position: relative;
  display: block;
  width: 100%;
  height: 1.5rem;
  margin: 0.6rem 0;
  background-color: var(--md-default-fg-color--lightest);
}
.progress-label {
  position: absolute;
  width: 100%;
  margin: 0;
  color: var(--md-text-color);
  font-weight: 700;
  line-height: 1.5rem;
  white-space: nowrap;
  text-align: center;
  text-shadow: 
	-0.06em -0.06em 0.3em var(--md-default-bg-color--light),	
	0.06em -0.06em 0.3em var(--md-default-bg-color--light),
	-0.06em 0.06em 0.3em var(--md-default-bg-color--light),
	0.06em 0.06em 0.3em var(--md-default-bg-color--light);
}

/* Striped (static and animated) */
.progress.candystripe .progress-bar {
  background-image:
	linear-gradient(135deg, 
	var(--progressbar-stripe) 27%, transparent 27%,
	transparent 52%, var(--progressbar-stripe) 52%,
	var(--progressbar-stripe) 77%, transparent 77%,
	transparent);
  background-size: 3rem 3rem;
}
.candystripe-animate .progress-bar {
  animation: animate-stripes 3s linear infinite;
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 4rem 0;
  }
}

/* Thin */
.progress.thin {
  height: 0.5rem;
  margin-top: 1rem;
}
.progress.thin .progress-label {
  margin-top: -0.5rem;
}
.progress.thin .progress-bar {
  height: 0.5rem;
}

/* Progress colors */
.progress-100plus .progress-bar {
  background-color: var(--progressbar-100);
}
.progress-80plus .progress-bar {
  background-color: var(--progressbar-80);
}
.progress-60plus .progress-bar {
  background-color: var(--progressbar-60);
}
.progress-40plus .progress-bar {
  background-color: var(--progressbar-40);
}
.progress-20plus .progress-bar {
  background-color: var(--progressbar-20);
}
.progress-0plus .progress-bar {
  background-color: var(--progressbar-0);
}

/* ================================ */
