.md-typeset {
  /* Progress Bars */
}
.md-typeset .progress-label {
  position: absolute;
  width: 100%;
  margin: 0;
  color: --md-text-color;
  font-weight: 700;
  line-height: 1.8rem;
  white-space: nowrap;
  text-align: center;
  text-shadow: -0.063em -0.063em 0.3em --md-default-bg-color--light, 0.06em -0.063em 0.3em --md-default-bg-color--light, -0.063em 0.06em 0.3em --md-default-bg-color--light, 0.06em 0.06em 0.3em --md-default-bg-color--light;
}
.md-typeset .progress-bar {
  float: left;
  height: 1.5rem;
  background-color: #2979FF;
  /* Stripe animation */
}
.md-typeset .candystripe-animate .progress-bar {
  animation: animate-stripes 3s linear infinite;
}
.md-typeset .progress {
  position: relative;
  display: block;
  width: 100%;
  height: 1.5rem;
  margin: 0.6rem 0;
  background-color: --md-default-fg-color--lightest;
}
.md-typeset .progress.thin {
  height: 0.5rem;
  margin-top: 1.1rem;
}
.md-typeset .progress.thin .progress-label {
  margin-top: -0.5rem;
}
.md-typeset .progress.thin .progress-bar {
  height: 0.5rem;
}
.md-typeset .progress.candystripe .progress-bar {
  background-image: linear-gradient(135deg, --md-default-bg-color--lightest 27%, transparent 27%, transparent 52%, --md-default-bg-color--lightest 52%, --md-default-bg-color--lightest 77%, transparent 77%, transparent);
  background-size: 3rem 3rem;
}
.md-typeset .progress-100plus .progress-bar {
  background-color: #00e676;
}
.md-typeset .progress-80plus .progress-bar {
  background-color: #fbc02d;
}
.md-typeset .progress-60plus .progress-bar {
  background-color: #ff9100;
}
.md-typeset .progress-40plus .progress-bar {
  background-color: #ff5252;
}
.md-typeset .progress-20plus .progress-bar {
  background-color: #ff1744;
}
.md-typeset .progress-0plus .progress-bar {
  background-color: #f50057;
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 7.5rem 0;
  }
}

