<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>279667949565854</sid>
    <event-sheet>E_GLOBAL</event-sheet>
    <size>
        <width>426</width>
        <height>240</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="BG" sid="509756182329074">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="Main_TitleScreen" sid="424409488718911">
            <initially-visible>0</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BG_MenuBlur" uid="13">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>0.8</blue>
                                <green>0.8</green>
                                <red>0.8</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>213</x>
                        <y>120</y>
                        <z>0</z>
                        <width>426</width>
                        <height>240</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TitleScreen_Mode7BG" uid="14">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <instance-variables>
                        <Scroll>0</Scroll>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="mode7">
                            <parameters>
                                <ang>0</ang>
                                <fov>1.0</fov>
                                <horizon>-0.75</horizon>
                                <pos_x>0</pos_x>
                                <pos_y>0</pos_y>
                                <scale_x>1.25</scale_x>
                                <scale_y>1.25</scale_y>
                                <single-image>0</single-image>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>213</x>
                        <y>192</y>
                        <z>0</z>
                        <width>426</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="MusicPlayer_Visualiser" uid="16">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Bottom-left</hotspot>
                    </properties>
                    <instance-variables>
                        <FreqBin>0</FreqBin>
                        <OldFreqBin>0</OldFreqBin>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="GlowHorizontal">
                            <parameters>
                                <intensity>1</intensity>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-29</x>
                        <y>145</y>
                        <z>0</z>
                        <width>6</width>
                        <height>48</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>1</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TitleScreen_Bars" uid="19">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Scroll">
                            <parameters>
                                <x-shift>30</x-shift>
                                <y-shift>0</y-shift>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>213</x>
                        <y>16</y>
                        <z>0</z>
                        <width>426</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.75</opacity>
                    </world>
                </instance>
                <instance type="Dummy" uid="22">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <String></String>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Timer" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-8</x>
                        <y>120</y>
                        <z>0</z>
                        <width>16</width>
                        <height>176</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TitleScreen_Bars" uid="18">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>1</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Scroll">
                            <parameters>
                                <x-shift>-30</x-shift>
                                <y-shift>0</y-shift>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>213</x>
                        <y>224</y>
                        <z>0</z>
                        <width>426</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.75</opacity>
                    </world>
                </instance>
                <instance type="Dummy" uid="21">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <String></String>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Timer" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>434</x>
                        <y>120</y>
                        <z>0</z>
                        <width>16</width>
                        <height>176</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text_Thin" uid="29">
                    <properties>
                        <character-width>6</character-width>
                        <character-height>7</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789☺☻♥♦!&quot;#$%&amp;&apos;()*+,-./:;&lt;=&gt;?[\]^_`|♣</character-set>
                        <text>YOU&apos;RE USING AN INDEV BUILD</text>
                        <scale>1</scale>
                        <initial-visibility>Invisible</initial-visibility>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Right</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <TranslationID_>INDEV_NOTICE1</TranslationID_>
                        <ID_></ID_>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Flash" />
                        <behavior-instance type="Timer" />
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>0</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>421</x>
                        <y>45</y>
                        <z>0</z>
                        <width>172</width>
                        <height>8</height>
                        <depth>0</depth>
                        <hotspotX>1</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text_Thin" uid="30">
                    <properties>
                        <character-width>6</character-width>
                        <character-height>7</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789☺☻♥♦!&quot;#$%&amp;&apos;()*+,-./:;&lt;=&gt;?[\]^_`|♣</character-set>
                        <text>SOME THINGS MIGHT BE UNSTABLE</text>
                        <scale>1</scale>
                        <initial-visibility>Invisible</initial-visibility>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Right</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <TranslationID_>INDEV_NOTICE2</TranslationID_>
                        <ID_></ID_>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Flash" />
                        <behavior-instance type="Timer" />
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>0</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>421</x>
                        <y>54</y>
                        <z>0</z>
                        <width>184</width>
                        <height>8</height>
                        <depth>0</depth>
                        <hotspotX>1</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="LinumLogo2" uid="212">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Move">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Horizontal</tweened-property>
                                <function>EaseOutCircle</function>
                                <target>168</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.35</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>1</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>168</x>
                        <y>77</y>
                        <z>0</z>
                        <width>148</width>
                        <height>38</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="LinumLogo" uid="211">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Rotate">
                            <properties>
                                <speed>15</speed>
                                <acceleration>0</acceleration>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Shrink">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Size</tweened-property>
                                <function>EaseOutCircle</function>
                                <target>64,64</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.65</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="MoveToSide">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Horizontal</tweened-property>
                                <function>EaseOutCircle</function>
                                <target>142</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.35</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>1</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>141</x>
                        <y>75</y>
                        <z>0</z>
                        <width>64</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text_Regular" uid="188">
                    <properties>
                        <character-width>8</character-width>
                        <character-height>8</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789☺☻♥♦♣♠•◘!&quot;#$%&amp;&apos;()*+,-./:;&lt;=&gt;?@[\]^_`|~АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ○♂</character-set>
                        <text>PRESS START</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>1</line-height>
                    </properties>
                    <instance-variables>
                        <TranslationID_>MENU_TITLESCREEN</TranslationID_>
                        <ID_>MENU_TITLESCREEN</ID_>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Flash" />
                        <behavior-instance type="Timer" />
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>90</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>Yes</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>0</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>214</x>
                        <y>174</y>
                        <z>0</z>
                        <width>88</width>
                        <height>10</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text_Thin" uid="110">
                    <properties>
                        <character-width>6</character-width>
                        <character-height>7</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789☺☻♥♦!&quot;#$%&amp;&apos;()*+,-./:;&lt;=&gt;?[\]^_`|♣</character-set>
                        <text>VERSION</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Right</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <TranslationID_>null</TranslationID_>
                        <ID_>Version</ID_>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Flash" />
                        <behavior-instance type="Timer" />
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Disabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>0</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>421</x>
                        <y>36</y>
                        <z>0</z>
                        <width>172</width>
                        <height>8</height>
                        <depth>0</depth>
                        <hotspotX>1</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TitleScreen_ParticlesEdge" uid="38">
                    <properties>
                        <rate>12</rate>
                        <spray-cone>360</spray-cone>
                        <type>One-shot</type>
                        <initial-particle-properties></initial-particle-properties>
                        <speed>100</speed>
                        <size>1</size>
                        <opacity>100</opacity>
                        <grow-rate>0</grow-rate>
                        <x-randomiser>0</x-randomiser>
                        <y-randomiser>0</y-randomiser>
                        <speed-randomiser->0</speed-randomiser->
                        <size-randomiser>0</size-randomiser>
                        <grow-rate-randomiser>0</grow-rate-randomiser>
                        <particle-lifetime-properties></particle-lifetime-properties>
                        <acceleration>0</acceleration>
                        <gravity>0</gravity>
                        <angle-randomiser>0</angle-randomiser>
                        <speed-randomiser>0</speed-randomiser>
                        <opacity-randomiser>0</opacity-randomiser>
                        <destroy-mode>Timeout expired</destroy-mode>
                        <timeout>0.175</timeout>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>34</x>
                        <y>321</y>
                        <z>0</z>
                        <width>128</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TitleScreen_ParticlesSpray" uid="172">
                    <properties>
                        <rate>64</rate>
                        <spray-cone>360</spray-cone>
                        <type>Continuous spray</type>
                        <initial-particle-properties></initial-particle-properties>
                        <speed>85</speed>
                        <size>1</size>
                        <opacity>100</opacity>
                        <grow-rate>0</grow-rate>
                        <x-randomiser>0</x-randomiser>
                        <y-randomiser>0</y-randomiser>
                        <speed-randomiser->0</speed-randomiser->
                        <size-randomiser>0</size-randomiser>
                        <grow-rate-randomiser>0</grow-rate-randomiser>
                        <particle-lifetime-properties></particle-lifetime-properties>
                        <acceleration>0</acceleration>
                        <gravity>0</gravity>
                        <angle-randomiser>0</angle-randomiser>
                        <speed-randomiser>0</speed-randomiser>
                        <opacity-randomiser>0</opacity-randomiser>
                        <destroy-mode>Timeout expired</destroy-mode>
                        <timeout>0.625</timeout>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>233</x>
                        <y>327</y>
                        <z>0</z>
                        <width>128</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="GLOBAL_MusicPlayer" sid="335569563854803">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="GLOBAL_Transition" sid="933293224662807">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="GLOBAL_TransitionFade" sid="570193098822623">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="GLOBAL_Loading" sid="773010483874418">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="GLOBAL_Overlay" sid="518866184118800">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
